<h1 class = "text-danger">Error.</h1>
<h2 class="text-danger">Un error ocurrio al intentar procesar su petici贸n</h2>

<h3>Develoment mode</h3>
<p>
    Al cambiar a <strong>Develoment enviroment</strong> se mostrara la informaci贸n mas detallada sobre el error ocurrido.
</p>

<p>
    <strong>El entorno de desarrollo no debe estar habilidato para las aplicaciones implementadas.</strong>
    Puede dar lugar a que se muestre informaci贸n confidencial de excepciones a los usuarios finales.
    Para la depuraici贸n local, habilite el entorno <strong>Develoment environment</strong> configurando la variable de entorno
    <strong>ASPNETCORE_ENVIRONMENT</strong> a <strong>Develoment</strong> y reiniciando la aplicacion.
</p>